<app-header></app-header>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>User Search</h1>
      </div>
      <div class="col-xs-12">
        <form>
          <div class="form-group">
            <label>User:</label>
            <input [(ngModel)]="userName" name="from" class="form-control">
          </div>

          <div class="form-group">
            <button
              [disabled]="!userName"
              (click)="search()"
              class="btn btn-default">Search</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let user of userList" class="col-sm-4 col-md-3 ">
        <div class="user-card">
          <!-- {{user | json}} -->
          <p class="text-center card-title">{{user.userName}}</p>
          <div class="user-head">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          </div>
          <div class="user-content">
            <p>Lists: <span *ngFor="let list of user.movieLists"><a [routerLink]="['../movie-list', list.name, {showUserDetails: true}]">{{list.name}}</a>,</span></p>
            <p>Users Following: {{user.usersFollowing.size}}</p>
            <p>Favourite Genres: <span *ngFor="let genre of user.genreIDs">{{genre}},</span></p>
          </div>
          <button
            [disabled]="!user"
            (click)="followUser()"
            class="btn btn-default btn-center">Follow</button>

        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
