

<div class="content">
  <form>
    <div class="form-group">
      <label>userName:</label>
      <input [(ngModel)]="userName" name="userName" class="form-control">
    </div>

    <div class="form-group">
      <button
        (click)="search()"
        class="btn btn-default">Search</button>
    </div>
  </form>
</div>


<div class="container">
  <div class="row" *ngIf="userList | async as ulist">
    <div *ngFor="let user of ulist" class="col-sm-4">
      <div class="title">
        {{user?.name}}
      </div>
    </div>
  </div>
</div>


