<app-header></app-header>
<div class="content">
  <div class="container-fluid">
      <div *ngIf="movielist | async as mlist" >
        <div class="row">
          <div class="col-xs-12">
            <h1>{{mlist.name}}</h1>
            <p *ngIf="showUserDetails">
              Owner: {{mlist.ownerID}}<br >
              Lists: <span *ngFor="let l of userLists">{{l.name}},</span>
            </p>
            <p>{{responseText}}</p>
          </div>
        </div>
        <div class="row">
          <ngx-slick class="movie-list-container" #slickModal="slick-modal" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let m of mlist.movies" class="slide">
              <div class="movie-card" [ngClass]="{'selected': selectedMovieID === m.id }" [ngStyle]="getPosterStyles(m.posterPath)" (click)="onMovieClick(m)">
                <div class="overlay">
                  <div class="title">
                    {{m.title}}
                  </div>
                  <ul class="genres">
                    <li *ngFor="let g of m.genres">
                      <span>{{g.name}}, </span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </ngx-slick>
        </div>
        <div class="row">
          <div *ngIf="selectedMovie" class="movie-detail-view">
            <div class="col-sm-6">
              <h2>{{selectedMovie.title}}</h2>
              <p><i class="fa fa-star" aria-hidden="true">{{selectedMovie.userRating}}</i></p>
              <p>Genres: <span *ngFor="let genre of selectedMovie.genres">{{genre.name}}, </span></p>
              <p>Actors: <span *ngFor="let actor of selectedMovie.actors">{{actor.name}}, </span></p>
              <p>{{selectedMovie.overview}}</p>
              <a href="{{selectedMovie.homepage}}" target="_blank" >Homepage</a>
              <div class="add-area">
                <select name="add-to-list" ng-model="selectedList">
                  <option *ngFor="let list of userLists" value="{{list.id}}">{{list.name}}</option>
                </select>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <button class="btn btn-default" (click)="addMovieToList(m.id)">Add</button>
                <button class="btn btn-default" (click)="removeMovieFromList(m.id)">Remove</button>
              </div>
            </div>
            <div class="col-sm-6">
              <iframe class="yt-frame" width="540" height="310"
                      [src]="selectedMovie.trailer.replace('https://youtu.be/','https://www.youtube.com/embed/') | sanitizeUrlPipe" frameborder="0" allowfullscreen>
              </iframe>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<app-footer></app-footer>

