<app-header></app-header>
<div class="content">
  <div class="container-fluid">
      <div *ngIf="movielist | async as mlist" >
        <div class="row">
          <div class="col-xs-12">
            <h1>{{mlist.name}}</h1>
            <p *ngIf="showUserDetails">
              Owner: {{mlist.ownerID}}<br >
              Lists: <span *ngFor="let l of userLists">{{l.name}},</span>
            </p>
            <p>{{responseText}}</p>
          </div>
        </div>
        <div class="row">
          <ngx-slick class="movie-list-container" #slickModal="slick-modal" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let m of mlist.movies" class="slide">
              <div class="movie-card" [ngStyle]="getPosterStyles(m.posterPath)">
                <div class="overlay">
                  <div class="title">
                    {{m.title}}
                  </div>
                  <ul class="genres">
                    <li *ngFor="let g of m.genres">
                      <span>{{g.name}}, </span>
                    </li>
                  </ul>
                  <div class="add-area">
                    <select name="add-to-list" ng-model="selectedList">
                      <option *ngFor="let list of userLists" value="{{list.id}}">{{list.name}}</option>
                    </select>
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <button class="btn btn-default" (click)="addMovieToList(m.id)">Add</button>
                  </div>
                </div>
              </div>
            </div>
          </ngx-slick>
        </div>
      </div>
  </div>
</div>
<app-footer></app-footer>

