<app-header></app-header>
<div class="content">
  <div class="container">
    <div class="row">
      <div class=" col-sm-push-3 col-sm-6">
        <div class="headline">
          <h1 class="title text-center">Search for Movies, Lists or Users</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class=" col-sm-push-3 col-sm-6">
        <form>
          <div class="form-group movie-search-form">
            <input [(ngModel)]="searchName" name="searchName" class="form-control">
            <select [(ngModel)]="searchSelect" name="searchSelect">
              <option *ngFor="let value of searchSelectValues" [ngValue]="value">{{value}}</option>
            </select>
            <button [disabled]="!searchName" (click)="search()" class="btn btn-default">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div name="movieContainer" *ngIf="movieList | async as mlist">
      <div class="row">
        <div class="col-xs-12">
          <h1>Results</h1>
        </div>
      </div>
      <app-movie-list [movielist]="movieList" [userLists]="user.movieLists" ></app-movie-list>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div name="userContainer" *ngFor="let user of userList" class="col-sm-4 col-md-3 ">
        <div class="user-card">
          <!-- {{user | json}} -->
          <p class="text-center card-title">{{user.username}}</p>
          <div class="user-head">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          </div>
          <div class="user-content">
            <p>Lists: <span *ngFor="let list of user.movieLists "><a [routerLink]="['../user-list', 'userlist', {id: list.id, showUserDetails: true}]">{{list.name}}</a>,&nbsp;</span></p>
            <p>Users Following: {{user.usersFollowing.size}}</p>
            <p>Favourite Genres: <span *ngFor="let genre of user.genreIDs "><span *ngIf="genre | genrePipe | async as aGenre">{{aGenre.name}},&nbsp;</span></span></p>
          </div>
          <button
            [disabled]="!user"
            (click)="followUser(user.id)"
            class="btn btn-default btn-center">Follow</button>

        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
